<div class="container">
    <div class="row">
        <div class="col text-center">
            <P> Upload applicants deails of Excel file with correct format </P>

            <div>
                <input type="file" name="uploadFile" id="uploadFile" (change)="uploadedFile($event)" accept=".xlsx">
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="d-flex flex-column justify-content-center">
            <div *ngIf="successMesage" class="alert alert-success text-center">
                {{successMesage}}
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger text-center">
                {{errorDefInticator}}
                <hr>
                {{errorMessage}}
            </div>
        </div>
    </div>

</div>