<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3> Upload applicants deails of Excel file with correct format </h3>

            <div class="input-group mb-3 offset-2 col-7">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="uploadFileCustData" (change)="uploadedFile($event)"
                        accept=".xlsx">
                    <label class="custom-file-label" for="uploadFileCustData"
                        aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-4">
        <div class="d-flex flex-column justify-content-center">
            <div *ngIf="successMesage" class="alert alert-success text-center">
                {{successMesage}}
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger text-center">
                {{errorDefInticator}}
                <hr>
                {{errorMessage}}
            </div>
        </div>
    </div>

</div>