<mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">
    <!-- Process Type -->
    <mat-step label="Registration Type">
        <app-reg-type></app-reg-type>
    </mat-step>

    <!-- Process 1 -->
    <mat-step label="Applicant Registration">
        <app-applicant-reg> </app-applicant-reg>
        <div class="d-flex justify-content-around pt-3">
            <button mat-button matStepperPrevious class="btn-theme-secondary mx-3">Back</button>
            <button mat-button matStepperNext class="btn-theme-secondary">Next</button>
        </div>
    </mat-step>

    <!-- Process 2 -->
    <mat-step label="MI Land Details">
        <app-mi-land-details></app-mi-land-details>
        <div class="d-flex justify-content-around pt-3">
            <button mat-button matStepperPrevious class="btn-theme-secondary mx-3">Back</button>
            <button mat-button matStepperNext class="btn-theme-secondary">Next</button>
        </div>
    </mat-step>

    <!-- Process 3 -->
    <mat-step label="Survey / Crop Details">
        <app-land-crop-details></app-land-crop-details>
        <div class="d-flex justify-content-around pt-3">
            <button mat-button matStepperPrevious class="btn-theme-secondary">Back</button>
            <!-- <button mat-button matStepperNext class="btn-theme-secondary">Next</button> -->
        </div>
    </mat-step>
</mat-horizontal-stepper>