<div class="container">
    <div id="cust-table" class="card row my-3">

        <table mat-table [dataSource]="custDataSource" class="w-100 mat-elevation-z8">

            <ng-container *ngFor="let colName of displayedColumns; let idx = index" [matColumnDef]="colName">
                <th mat-header-cell *matHeaderCellDef> {{colName}} </th>
                <td mat-cell *matCellDef="let element"> {{element[COL_NAME_TO_FIELD_NAME[colName]]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let idx = index;" (click)="selectedRow(idx)">
            </tr>
        </table>
    </div>

    <div class="row justify-content-between">
        <div>
            <button class="btn btn-theme-primary"> Register All </button>
            <button class="btn btn-theme-secondary mx-3"> Selected Only </button>
        </div>
        
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>