<div class="container-fluid">
    <div class="border py-5">

        <h2 class="text-center"> Registarion Type </h2>

        <div id="reg-type-container" class="row text-center">
            <div class="col-12 col-sm divider-ver">
                <div class="pt-5">
                    <h3> <b> Bulk Register </b> </h3>
                    <P> Upload applicants deails using Excel file </P>
                    <div>
                        <a routerLink="../bulk-register" class="btn btn-sm btn-theme-primary px-3"> Bulk Registarion
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm">
                <div class="pt-5">
                    <h3> <b> Register new Customer Details </b> </h3>
                    <p> Create new applicant and crop details on your own </p>
                    <div>
                        <button type="button" (click)="newRegBtnSelected()" class="btn-sm btn-theme-primary px-3">
                            New Registarion
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>