<mat-toolbar id="toolbar-container" color="primary">

    <button mat-icon-button (click)="navbarRef.toggle()">
        <mat-icon> menu </mat-icon>
    </button>

    <span class="px-3">
        <h1> <b> {{app_title}} </b> </h1>
    </span>

    <div class="ml-auto px-3">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon> account_circle </mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="admin-menu">
            <app-logged-menu-info></app-logged-menu-info>
        </mat-menu>
    </div>

</mat-toolbar>