<div id="login-container" class="container-fluid">
    <div class="row vh-100">
        <!-- Left half -->
        <div class="col-sm-7 col-xs border-right">
            <img src="/assets/images/Login_Left.png" class="img-fluid" alt="Project login template image">
        </div>

        <!-- Right half -->
        <div class="col">
            <div id="right-side-container" class="py-4">
                <div class="text-center">
                    <h2> Welcome to Drip Irrigation System </h2>
                    <h3> BHARATHI DRIPS </h3>
                </div>

                <div class="d-flex flex-column px-4 pt-4">
                    <div *ngIf="errorMessage">
                        <div class="alert alert-danger">
                            <b> {{errorMessage}} </b>
                        </div>
                    </div>
                </div>

                <form class="px-4" [formGroup]="loginForm">

                    <!-- Email input -->
                    <div class="pb-4">
                        <label for="email"> Email </label>
                        <input type="email" formControlName="mail" id="email" class="form-control" />
                    </div>

                    <!-- Password input -->
                    <div class="py-4">
                        <label for="password"> Password </label>
                        <div class="input-group">
                            <input [type]="(isPwdVisible) ? 'text' : 'password'" formControlName="password"
                                id="password" class="form-control" />
                            <button class="border d-flex px-1 py-0 m-0 password-visible-icon"
                                [matTooltip]="isPwdVisible ? 'Hide Password' : 'Show Password'"
                                (click)="isPwdVisible = !isPwdVisible">
                                <mat-icon class="align-self-center"> {{isPwdVisible ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center py-3">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" id="remeberMe" />
                            <label class="form-check-label" for="remeberMe">
                                Remember me
                            </label>
                        </div>
                        <a href="#!">Forgot password?</a>
                    </div>

                    <div class="row justify-content-center py-4">

                        <button mat-raised-button type="submit" (click)="validateLogin()"
                            class="col-8 btn-theme-primary rounded-pill p-1" [disabled]="isLoading">
                            <mat-icon *ngIf="isLoading">
                                <mat-spinner diameter="25"></mat-spinner>
                            </mat-icon>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>