<div class="container-fluid">
    <div id="form-container" class="py-2">

        <form id="cust-search" [formGroup]="customerSearch" class="card">

            <h3 class="px-3 pt-3"> <b> Customer Search </b> </h3>

            <div class="d-flex flex-column">
                <div *ngIf="sucessMessage" class="alert alert-success py-2">
                    {{sucessMessage}}
                </div>

                <div *ngIf="errorMessage.message">
                    <div class="alert alert-danger">
                        <b> {{errorMessage.message}} </b>
                        <br>
                        <span *ngIf="errorMessage.desc">
                            {{errorMessage.desc}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="p-3">

                <div class="row py-2">
                    <div class="col col-sm">
                        <label for="applicationId" class="col-12 col-sm-5"> Application Id </label>
                        <input type="text" formControlName="applicationId" id="applicationId" class="col col-sm-7 form-control">
                    </div>

                    <div class="col col-sm">
                        <label for="farmerName" class="col-12 col-sm-5"> Farmer Name </label>
                        <input type="text" formControlName="farmerName" id="farmerName" class="col col-sm-7 form-control">
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col col-sm">
                        <label for="farmerType" class="col-12 col-sm-5"> Farmer Type </label>
                        <select name="farmertype" formControlName="farmerType" id="farmerType"
                            class="col col-sm-7 custom-select">
                            <option *ngFor="let type of formerTypeList" [value]="type.value">
                                {{type.option}}
                            </option>
                        </select>
                    </div>

                    <div class="col col-sm">
                        <label for="fatherName" class="col-12 col-sm-5"> Father Name </label>
                        <input type="text" name="fatherName" formControlName="fatherName" id="fatherName"
                            class="col col-sm-7 form-control">
                    </div>

                </div>

                <div class="row py-2">
                    <div class="col">
                        <label for="village" class="col-12 col-sm-5"> Village </label>
                        <input type="text" formControlName="village" id="village" class="col col-sm-7 form-control">
                    </div>

                    <div class="col">
                        <label for="block" class="col-12 col-sm-5"> Block </label>
                        <input type="text" formControlName="block" id="block" class="col col-sm-7 form-control">
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-6">
                        <label for="department" class="col-12 col-sm-5"> Department </label>
                        <select name="department" formControlName="department" id="department"
                            class="col col-sm-7 form-control-sm custom-select">
                            <option *ngFor="let type of departmentList" [value]="type.value">
                                {{type.option}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row py-2 px-4">
                    <button type="submit" class="btn btn-theme-primary px-4 mx-3" (click)="searchCustomers()"> Search
                    </button>
                    <button type="button" class="btn btn-theme-primary reset-btn px-4" (click)="resetForm()"> Reset
                    </button>
                    <div class="px-5" *ngIf="loadProgresser">
                        <mat-spinner diameter="40"></mat-spinner>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="cust-srch-table-container" class="my-5">
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        <table mat-table [dataSource]="custDataSource" class="w-100 mat-elevation-z8">
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="viewCustRecReq(element)" color="primary" type="button"> view
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="saveCustRecReq(element.applicationId)" color="primary"
                        type="button"> Update </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="applicationId">
                <th mat-header-cell *matHeaderCellDef> Application Id </th>
                <td mat-cell *matCellDef="let element"> {{element.applicationId}} </td>
            </ng-container>
            <ng-container matColumnDef="farmerName">
                <th mat-header-cell *matHeaderCellDef> Farmer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.farmerName}} </td>
            </ng-container>
            <ng-container matColumnDef="farmerType">
                <th mat-header-cell *matHeaderCellDef> Farmer Type </th>
                <td mat-cell *matCellDef="let element"> {{element.farmerType}} </td>
            </ng-container>
            <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef> Department </th>
                <td mat-cell *matCellDef="let element"> {{element.department}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let idx = index;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>