<button mat-menu-item (click)="selectedItem('view')">
    <a>
        <mat-icon mat-list-icon> person </mat-icon> Sasikumar
        <mat-icon mat-list-icon class="ml-auto"> arrow_right </mat-icon>
    </a>
</button>
<button mat-menu-item (click)="selectedItem('view')">
    <a>
        <mat-icon mat-list-icon> manage_accounts </mat-icon> Manage sub admins
    </a>
</button>
<button mat-menu-item (click)="selectedItem('view')">
    <a>
        <mat-icon mat-list-icon> https </mat-icon> Change Password
    </a>
</button>
<button mat-menu-item>
    <a>
        <mat-icon mat-list-icon> logout </mat-icon> Sign out
    </a>
</button>

<hr>
<div class="p-1">
    <span> <b> Last Logged In : </b> </span> 10-23-2021 10.53 PM
</div>