<div mat-menu-item (click)="selectedItem('profile')">
    <a class="row align-items-center justify-content-between px-3">
        <span>
            <mat-icon mat-list-icon> person </mat-icon> {{adminName}}
        </span>

        <mat-icon mat-list-icon> arrow_right </mat-icon>
    </a>
</div>
<button mat-menu-item (click)="selectedItem('manage')">
    <a>
        <mat-icon mat-list-icon> manage_accounts </mat-icon> Manage sub admins
    </a>
</button>
<hr>
<button mat-menu-item (click)="selectedItem('logout')">
    <a>
        <mat-icon mat-list-icon> logout </mat-icon> Sign out
    </a>
</button>