<mat-toolbar id="toolbar-container" color="primary" class="row">

    <button mat-icon-button (click)="navbarRef.toggle()">
        <mat-icon> menu </mat-icon>
    </button>

    <span id="toolbar-title" class="col col-sm-8">
        <h1> <b> {{app_title}} </b> </h1>
    </span>

    <div class="ml-auto">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon> account_circle </mat-icon>
        </button>

        <button mat-button [matTooltip]="app_theme_desc" (click)="changeAppTheme()">
            <mat-icon> dark_mode </mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="admin-menu">
            <app-logged-menu-info></app-logged-menu-info>
        </mat-menu>
    </div>

</mat-toolbar>