<div class="container">
    <div class="border p-5">

        <h2 class="text-center"> Registarion Type </h2>

        <div class="row text-center p-4">
            <div class="col divider-ver">
                <div>
                    <h3> <b> Bulk Register </b> </h3>
                    <P> Upload applicants deails using Excel file </P>
                    <div>
                        <a routerLink="bulk-register" class="btn btn-sm btn-theme-primary px-3"> Bulk Registarion </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div>
                    <h3> <b> Register new Customer Details </b> </h3>
                    <p> Create new applicant and crop details on your own </p>
                    <div>
                        <button matStepperNext type="button" class="btn-sm btn-theme-primary px-3"> New Registarion
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>