.text-form-fills {
    font-weight: bold !important;
    border: none !important;
    border-bottom: 2px dotted black !important;
    text-align: center !important;
}

.border {
    border: 2px solid !important;
}

div.line-row p {
    text-align: justify !important;
    word-spacing: 1.1rem;
}

#sfmf-doc {
    font-size: .7rem;
}
