<mat-horizontal-stepper linear id="myStepper" (selectionChange)="selectionChange($event)">
    <!-- Process Type -->
    <mat-step [label]="stepperLabels?.step1Label" [completed]="completedState.step1">
        <app-reg-type [selectedStepper]="selectedStepperSubject"></app-reg-type>
    </mat-step>

    <!-- Process 1 -->
    <mat-step [label]="stepperLabels?.step2Label" [completed]="completedState.step2">
        <app-applicant-reg [selectedStepper]="selectedStepperSubject"> </app-applicant-reg>
    </mat-step>

    <!-- Process 2 -->
    <mat-step [label]="stepperLabels?.step3Label" [completed]="completedState.step3">
        <app-mi-land-details [selectedStepper]="selectedStepperSubject"></app-mi-land-details>
    </mat-step>

    <!-- Process 3 -->
    <mat-step [label]="stepperLabels?.step4Label" [completed]="completedState.step4">
        <app-land-crop-details [selectedStepper]="selectedStepperSubject"></app-land-crop-details>
        <div class="d-flex justify-content-around pt-3">
            <button mat-button matStepperPrevious class="btn-theme-secondary">Back</button>
            <!-- <button mat-button matStepperNext class="btn-theme-secondary">Next</button> -->
        </div>
    </mat-step>
</mat-horizontal-stepper>