<div class="container-fluid p-0 pt-3">
    <!-- <h2 class="text-center"> Subsidy Calculator </h2> -->

    <!-- Header -->
    <form [formGroup]="subsidyForm" class="card p-2">
        <div class="row">
            <!-- 1st header calculator -->
            <div class="col-8 border-right">
                <!-- Lables -->
                <div class="row">
                    <div class="col-2">
                        <label for="lateralSpace"> Lateral Spacing (M) </label>
                    </div>
                    <div class="col-2">
                        <label for="dripperSpace"> Dripper Spacing (M) </label>
                    </div>
                    <div class="col-3">
                        <label for="sysArea"> System Area (Ha) </label>
                    </div>
                    <div class="col-3">
                        <label for="govtSubAmt"> Govt. Subsidy Amount </label>
                    </div>
                    <div class="col-2">
                        <label for="percentAge"> %age </label>
                    </div>
                </div>

                <!-- Inputs -->
                <div class="row">
                    <div class="col-2">
                        <input type="text" name="lateralSpace" id="lateralSpace" formControlName="lateralSpace" class="col form-control">
                    </div>
                    <div class="col-2">
                        <input type="text" name="dripperSpace" id="dripperSpace" formControlName="dripperSpace" class="col form-control">
                    </div>
                    <div class="col-3">
                        <input type="text" name="sysArea" id="sysArea" formControlName="sysArea" class="col form-control">
                    </div>
                    <div class="col-3">
                        <input type="text" name="govtSubAmt" id="govtSubAmt" formControlName="govtSubAmt" (focusout)="UpdateTotalSubsidy()" class="col form-control">
                    </div>
                    <div class="col-2">
                        <input type="text" name="percentAge" id="percentAge" formControlName="percentAge" (focusout)="UpdateTotalSubsidy()" class="col form-control">
                    </div>
                </div>
            </div>

            <!-- 2nd header calculator -->
            <div class="col">
                <!-- Lables -->
                <div class="row">
                    <div class="col">
                        <label for="subsAmt"> Subsidy Amount (Rs) </label>
                    </div>
                    <div class="col">
                        <label for="gstTax"> GST @ 12% </label>
                    </div>
                    <div class="col">
                        <label for="totalSubsidy"> Total Subsidy </label>
                    </div>
                </div>

                <!-- Inputs -->
                <div class="row">
                    <div class="col">
                        <input type="text" name="subsAmt" id="subsAmt" formControlName="subsAmt" (focusout)="UpdateTotalSubsidy()" class="col form-control">
                    </div>
                    <div class="col">
                        <input type="text" name="gstTax" id="gstTax" formControlName="gstTax" class="col form-control">
                    </div>
                    <div class="col">
                        <input type="text" name="totalSubsidy" id="totalSubsidy" formControlName="totalSubsidy" class="col form-control">
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="row pt-3">
        <div class="col px-4">
            <app-component-a-calc></app-component-a-calc>
        </div>
        <div class="col px-4">
            <app-component-b-calc></app-component-b-calc>
        </div>
    </div>
</div>