<mat-sidenav-container class="vh-100">
    <!-- Side Nav -->
    <mat-sidenav #lefSideNav mode="side">
        <mat-nav-list id="left-side-nav" class="pt-0">
            <div class="py-3">
                <div class="d-flex justify-content-center">
                    <mat-icon class="profile-icon"> account_circle </mat-icon>
                    <h3 class="px-4 pt-2"> {{adminName}} </h3>
                </div>
            </div>

            <ng-container *ngFor="let item of navListItems">
                <mat-nav-list>
                    <a mat-list-item [routerLink]="item.link" [routerLinkActive]="'hl-active'" (click)="lefSideNav.close()">
                        <mat-icon> {{item.icon}} </mat-icon> <span class="px-3"> {{item.scrName}} </span>
                    </a>
                </mat-nav-list>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <!-- Tool bar -->
        <app-toolbar [navbarRef]="lefSideNav"></app-toolbar>

        <!-- Main content of Other Screens -->
        <div class="container-fluid px-0">
            <!-- <app-registration></app-registration>
            <app-land-crop-details></app-land-crop-details> -->
            <!-- <app-generate-forms></app-generate-forms> -->
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>