table td,
table th {
    padding: 2px 10px;
    font-size: 0.8rem;
    position: relative;
}

.cpy-btn-align {
    position: absolute;
    right: 1.7vw;;
}

.mat-button,
.mat-flat-button {
    line-height: 1.8rem !important;
}

/* Column Widths */
.mat-header-cell {
    min-width: 100px;
}

.mat-column-Srl-No,
.mat-column-action {
    min-width: 60px;
}

.mat-column-Application-Id,
.mat-column-Farmer-Name,
.mat-column-Father-Name {
    min-width: 280px;
}

.mat-column-Survey-No---Subdivision-No,
.mat-column-MI-Company,
.mat-column-Dealer-Name,
.mat-column-Current-Status,
.mat-column-Current-Status-Remarks {
    min-width: 200px;
}

.mat-column-MI-Referrence-No {
    min-width: 150px;
}

.mat-column-Current-Status-Date {
    min-width: 110px;
}

.action-checkbox {
    width: 1.5vw !important;
    height: 4vh !important;
}
